{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Clientes {% endblock %}

{% block encabezado %} 
	<h1 class="pacificOra fontsBig h1inicio">Nuestros clientes</h1>
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}image/cliente1.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}image/cliente2.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}image/cliente3.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}image/cliente4.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}image/cliente1.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}image/cliente2.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}image/cliente3.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}image/cliente4.png" alt="...">
    </a>
  </div>
</div>
{% endblock %}

